<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Tableau de Bord</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Utilisateurs</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Gérer Utilisateurs</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Rôles & Permissions</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#courses" aria-expanded="false" aria-controls="courses">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Cours</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="courses">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" >Gérer Cours</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/admin/ajouterCour">Créer Cours</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#enrollments" aria-expanded="false" aria-controls="enrollments">
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Inscriptions</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="enrollments">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/enrollments/manage_enrollments.html">Gérer Inscriptions</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#categories" aria-expanded="false" aria-controls="categories">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Catégories</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="categories">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link">Gérer Catégories</a></li>
        </ul>
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" routerLink="/admin/ajouterCategorie">Ajouter Catégorie</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/statistics/statistics.html">
        <i class="icon-bar-chart menu-icon"></i>
        <span class="menu-title">Statistiques</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/payments/payments.html">
        <i class="icon-wallet menu-icon"></i>
        <span class="menu-title">Paiements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/settings/settings.html">
        <i class="icon-settings menu-icon"></i>
        <span class="menu-title">Paramètres</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/support/support.html">
        <i class="icon-support menu-icon"></i>
        <span class="menu-title">Support</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/logout.html">
        <i class="icon-logout menu-icon"></i>
        <span class="menu-title">Déconnexion</span>
      </a>
    </li>
  </ul>
</nav>
