<div class="container-fluid">
  <form class="form-sample" [formGroup]="courForm" (ngSubmit)="handleAddCour()">
    <div class="row">
      <div class="col-md-6 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Informations sur le Cours</h4>
            <p class="card-description">Veuillez fournir les détails du cours.</p>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nom</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="name" placeholder="Nom du Cours">
                    <div *ngIf="courForm.get('name')?.invalid && courForm.get('name')?.touched" class="text-danger">
                      Le nom est requis.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Description</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="description"
                           placeholder="Description du Cours">
                    <div *ngIf="courForm.get('description')?.invalid && courForm.get('description')?.touched"
                         class="text-danger">
                      La description est requise.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Durée</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" formControlName="duree" placeholder="Durée en heures">
                    <div *ngIf="courForm.get('duree')?.invalid && courForm.get('duree')?.touched" class="text-danger">
                      La durée est requise.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Paiement</label>
                  <div class="col-sm-9">
                    <select class="form-control" formControlName="paiement">
                      <option [value]="PaiementType.GRATUIT">Gratuit</option>
                      <option [value]="PaiementType.PAYANT">Payant</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Prix</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" formControlName="prix" placeholder="Prix en USD">
                    <div *ngIf="courForm.get('prix')?.invalid && courForm.get('prix')?.touched" class="text-danger">
                      Le prix est requis.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="categorie">Catégorie</label>
                  <select id="categorie" class="form-control" formControlName="categorie">
                    <option *ngFor="let category of categories" [value]="category.id">{{ category.nom }}</option>
                  </select>
                  <div *ngIf="courForm.get('categorie')?.invalid && courForm.get('categorie')?.touched"
                       class="text-danger">
                    La catégorie est requise.
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="formateur">Formateur</label>
                  <select id="formateur" class="form-control js-example-basic-single" formControlName="formateur">
                    <option *ngFor="let formateur of formateurs" [value]="formateur.id">{{ formateur.nom }}</option>
                  </select>
                  <div *ngIf="courForm.get('formateur')?.invalid && courForm.get('formateur')?.touched"
                       class="text-danger">
                    Le formateur est requis.
                  </div>
                </div>
              </div>

              <!-- Tags -->
              <div class="col-md-12">
                <div class="form-group">
                  <label for="tag">Tags</label>
                  <select id="tag" class="form-control js-example-basic-multiple" formControlName="tags"
                          multiple="multiple">
                    <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.name }}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="affiche">Télécharger Affiche</label>
                  <input id="affiche" type="file" class="form-control" formControlName="affiche"
                         (change)="onAfficheSelected($event)">
                  <div *ngIf="courForm.get('affiche')?.invalid && courForm.get('affiche')?.touched" class="text-danger">
                    L'affiche est requise.
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="video">Télécharger Vidéo Commerciale</label>
                  <input id="video" type="file" class="form-control" formControlName="video"
                         (change)="onVideoSelected($event)">
                  <div *ngIf="courForm.get('video')?.invalid && courForm.get('video')?.touched" class="text-danger">
                    La vidéo est requise.
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary">Soumettre</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
