<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <p class="card-title mb-0">All Courses</p>
        <div class="d-flex align-items-center">
          <div class="form-group mb-0 mr-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Rechercher Cour" aria-label="Rechercher Cour">
              <div class="input-group-append">
                <button class="btn btn-sm btn-primary" type="button">Search</button>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" routerLink="/admin/cours/add-Cour">Ajouter un Cour</button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="example" class="display expandable-table dataTable no-footer" style="width: 100%;" role="grid">
            <thead>
            <tr role="row">
              <th>Name</th>
              <th>Description</th>
              <th>Duration</th>
              <th>Price</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cour of allCourses">
              <td>{{ cour.name }}</td>
              <td>{{ cour.description }}</td>
              <td>{{ cour.duree }}</td>
              <td>{{ cour.prix }}</td>
              <td>
                <button class="btn btn-sm btn-warning" [routerLink]="['/admin/cours/edit-Cour', cour?.id]">Edit</button>
              </td>
              <td>
                <button class="btn btn-sm btn-info" [routerLink]="['/admin/cours/Cour-detail', cour?.id]">Detail
                </button>
              </td>
              <td>
                <button class="btn btn-sm btn-danger" (click)="deleteCourse(cour.id)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
