<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
<app-navbar></app-navbar>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <app-aside2></app-aside2>
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <app-aside></app-aside>
    <!-- partial -->
    <div class="main-panel">
      <router-outlet></router-outlet>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
