<div class="features ">
  <div class="container py-4">
    <h2 class="mb-4">Résultats pour:</h2>
    <div class="search-info">
      <h4 *ngIf="params.category" class="badge bg-primary me-2">Catégorie: {{ params.category }}</h4>
      <h4 *ngIf="params.titre" class="badge bg-secondary">Nom: {{ params.titre }}</h4>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="container mb-4">
    <div class="row g-4">
      <div class="col-lg-1 d-flex justify-content-start">
          <span id="filter-toggle" class="btn btn-primary p-3 d-flex align-items-center" (click)="toggleFilters()">
            <i class="fa fa-bars text-white me-2"></i>
            <a class="text-white m-0 p-0">FILTRER</a>
          </span>
      </div>
      <!-- Filter Par -->
      <div class="col-lg-3"></div>
      <div class="col-lg-5">
        <!-- search start -->
        <div class="d-flex justify-content-center ">
          <div class="input-group">
            <input (input)="onSearchInput($event) " type="text" class="form-control p-3"
                   data-bs-toggle="dropdown" placeholder="Rechercher un videos...">
            <span id="search-icon-1" class="btn btn-primary p-3">
          <i class="fa fa-search text-white"></i>
            </span>
            <ul class="list-unstyled mt-2 dropdown-menu" *ngIf="allVideos.length > 0">
              <li *ngFor="let video of allVideos">
                <a class="dropdown-item" (click)="search()">{{ video.titre }}</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- search end -->
      </div>
      <div class="col-lg-3  d-flex justify-content-start">
        <select class="form-select">
          <option>
            Plus récents
          </option>
          <option>
            Les mieux notés
          </option>
        </select>

      </div>
    </div>
  </div>

  <div class="container tab-content ">
    <div id="tab-1" class="tab-pane fade show p-0 active">
      <div class="row g-4">
        <!-- Filter Section -->
        <div *ngIf="showFilters"
             [ngClass]="{'col-lg-3': showFilters, '': !showFilters}">
          <div class="accordion" id="accordionFilterOptions">
            <!-- Search Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#searchFilter" aria-expanded="false" aria-controls="searchFilter">
                  <a>Search</a>
                </button>
              </h2>
              <div id="searchFilter" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <input type="text" class="form-control" placeholder="Search keywords" [(ngModel)]="params.titre">
                </div>
              </div>
            </div>

            <!-- Category Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#categoryFilter" aria-expanded="false" aria-controls="categoryFilter">
                  Category
                </button>
              </h2>
              <div id="categoryFilter" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <div class="offcanvas-body">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <ul class="list-unstyled">
                          <li *ngFor="let c of categories">
                            <a class="nav-link"
                               [routerLink]="['/videos']"
                               [queryParams]="{ category: c.nom }">{{ c.nom }}</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

            <!-- Date Range Filter -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#dateRangeFilter" aria-expanded="false" aria-controls="dateRangeFilter">
                  Date Range
                </button>
              </h2>
              <div id="dateRangeFilter" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <div class="d-flex">
                    <input type="date" class="form-control me-2">
                    <input type="date" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Filter Section -->
        <!--video section -->
        <div class="col-lg-8">
          <div class="row g-4">
            <div class="col-12">
              <div class="row g-4 align-items-center" *ngFor="let video of allVideos">
                <div class="col-5">
                  <div class="overflow-hidden rounded">
                    <video src="{{environment.url+'/load/video/'+video.videoUrl}}" class=" img-fluid rounded w-100"
                           [routerLink]="['/videos/video-detail', video.id]"></video>
                  </div>
                </div>
                <div class="col-7">
                  <div class="features-content d-flex flex-column">
                    <p class="text-uppercase mb-2">Sports</p>
                    <a>{{ video.titre }}</a>
                    <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--video section -->

      </div>
    </div>

  </div>
</div>


