.logo {
  width: 70px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */

}

.dropdown-menu {
  display: block;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  margin-top: 17px;
}

.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
}

.dropdown-item {
  padding: 10px;
  color: #333;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #fac663;
}

.dropdown-item:active {
  background-color: #e9ecef;
  color: #fac663;
}

/* barre de recherche */
.box {
  position: relative;
}

.input {
  padding: 10px 10px 10px 40px;
  background: none;
  width: 350px;
  border: 1px solid #FAC663;
  border-radius: 30px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 15px;
  color: #282104;
  outline: none;

}


.input:focus {
  background-color: #ffffff; /* Couleur de fond blanche lors du focus */
  color: #282104; /* Couleur du texte */
  border-color: #FAC663; /* Couleur de la bordure */
}

.box i {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 22px;
  color: #FAC663;
  transform: translateY(-50%);
}

/* Breadcrumb (Navbar 3) */

#crumbs {
  ul {
    list-style: none;
    display: inline-table;
    padding: 0; /* Remove padding from the list */
    margin: 5px; /* Remove margin from the list */

    li {
      display: inline;

      a {
        display: block;
        float: left;
        height: 40px; /* Reduce height */
        background: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
        text-align: center;
        padding: 10px 10px 0 30px; /* Reduce padding */
        position: relative;
        margin: 0 5px 0 0; /* Reduce margin */
        font-size: 14px; /* Reduce font size */
        text-decoration: none;

        &:after {
          content: "";
          border-top: 20px solid transparent; /* Reduce size of arrow */
          border-bottom: 20px solid transparent;
          border-left: 20px solid rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
          position: absolute;
          right: -20px; /* Adjust based on reduced size */
          top: 0;
          z-index: 1;
        }

        &:before {
          content: "";
          border-top: 20px solid transparent; /* Reduce size of arrow */
          border-bottom: 20px solid transparent;
          border-left: 20px solid #fff;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}


#crumbs ul li:first-child a:before {
  display: none;
}

#crumbs ul li:last-child a {
  padding-right: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#crumbs ul li:last-child a:after {
  display: none;
}

#crumbs ul li a:hover {
  background: #FAC663;
  color: #fff;
}

#crumbs ul li a:hover:after {
  border-left-color: #FAC663;
  color: #fff;
}



