<!-- Spinner Start -->
<div id="spinner"
     class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
  <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<div class="container-fluid  px-0">
  <!-- Navbar1 start -->
  <div class="container-fluid topbar bg-dark d-none d-lg-block">
    <div class="container px-0">
      <div class="topbar-top d-flex justify-content-between flex-lg-wrap">
        <div class="top-info flex-grow-0">
          <span class="rounded-circle btn-sm-square bg-primary me-2">
              <i class="fas fa-bolt text-white"></i>
          </span>
          <div class="pe-2 me-3 border-end border-white d-flex align-items-center">
            <p class="mb-0 text-white fs-6 fw-normal">Trending</p>
          </div>
          <div class="overflow-hidden" style="width: 735px;">
            <div id="note" class="ps-2">
              <img src="../../assets/anchtaine.jpg" class="img-fluid rounded-circle border border-3 border-primary me-2"
                   style="width: 30px; height: 30px;" alt="">
              <a href="#"><p class="text-white mb-0 link-hover">Tout le monde est un génie. Mais si vous jugez un
                poisson à sa capacité de grimper à un arbre, il vivra toute sa vie en croyant qu'il est stupide.</p></a>
            </div>
          </div>
        </div>
        <div class="top-link flex-lg-wrap">
          <i class="fas fa-calendar-alt text-white border-end border-secondary pe-2 me-2"> <span class="text-body">Tuesday, Sep 12, 2024</span></i>
          <div class="d-flex icon">
            <p class="mb-0 text-white me-2">Follow Us:</p>
            <a href="" class="me-2"><i class="fab fa-facebook-f text-body link-hover"></i></a>
            <a href="" class="me-2"><i class="fab fa-twitter text-body link-hover"></i></a>
            <a href="" class="me-2"><i class="fab fa-instagram text-body link-hover"></i></a>
            <a href="" class="me-2"><i class="fab fa-youtube text-body link-hover"></i></a>
            <a href="" class="me-2"><i class="fab fa-linkedin-in text-body link-hover"></i></a>
            <a href="" class="me-2"><i class="fab fa-skype text-body link-hover"></i></a>
            <a href="" class=""><i class="fab fa-pinterest-p text-body link-hover"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar1 end -->


  <!-- Main Navbar -->
  <div class="container-fluid bg-light">
    <div class="container">
      <nav class="navbar navbar-light navbar-expand-xl">

        <!-- Navbar for Large Screens -->
        <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarLargeScreen">
          <!-- Logo -->
          <a href="/home" class="navbar-brand">
            <img src="../../assets/logo2.png" class="img-zoomin img-fluid logo-size" alt="Logo">
          </a>

          <!-- Navigation Links -->
          <ul class="navbar-nav mx-auto collapse navbar-collapse">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Categories</a>
              <ul class="dropdown-menu">
                <li *ngFor="let c of categories">
                  <a class="dropdown-item">{{ c.nom }}</a>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="navbar-nav mx-auto">
            <!-- Search Form -->
            <div class="box">
              <form name="search">
                <input type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();">
              </form>
              <i class="fas fa-search"></i>
            </div>
            <!-- Additional Nav Links -->
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/courses']">All Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about']">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contact']">Contact</a>
            </li>

            <div *ngIf="authService.isAuthenticated" class="navbar-nav ms-auto">
              <div class="cart">
                <a href="#" class="nav-link">
                  <i class="fas fa-shopping-cart"></i> Cart (0)
                </a>
              </div>

              <div class="nav-item dropdown">
                <a class="d-flex align-items-center me-2" href="#">
                  <img src="{{ environment.url + '/load/PhotoUser/' + this.authService.photo }}"
                       alt="{{ this.authService.username }}"
                       class="profile-image rounded-circle me-2">
                </a>
                <ul class="dropdown-menu m-0 bg-secondary rounded-0">
                  <li><a class="dropdown-item" routerLink="/profile">Profil</a></li>
                  <li><a class="dropdown-item" routerLink="/mescours">Mes Cours</a></li>
                  <li><a class="dropdown-item" routerLink="/settings">Paramètres</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" (click)="logout()">Déconnexion</a></li>
                </ul>
              </div>
              <div class="nav-item ms-auto">
                <a href="#" class="nav-link position-relative">
                  <i class="fas fa-bell"></i>
                  <span
                    class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"></span>
                </a>
              </div>
            </div>
            <button *ngIf="!authService.isAuthenticated" class="btn btn-outline-primary ms-3" routerLink="/register">
              S'inscrire
            </button>
            <button *ngIf="!authService.isAuthenticated" class="btn btn-outline-primary ms-3" routerLink="/login">
              Connecter
            </button>
          </ul>


          <!-- User Profile and Cart -->

          <!-- user profile -->
        </div>

        <!-- Navbar for Small Screens -->
        <div class="d-lg-none">
          <div class="d-flex justify-content-between align-items-center ">
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar">
              <span class="fa fa-bars text-primary"></span>
            </button>
            <a href="/home" class="navbar-brand mx-auto">
              <img src="../../assets/logo2.png" class="img-zoomin img-fluid logo-size" alt="">
            </a>

            <div class="box">
              <form name="search">
                <input type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();">
              </form>
              <i class="fas fa-search"></i>
            </div>
          </div>

          <div class="offcanvas offcanvas-start p-3" tabindex="-1" id="offcanvasNavbar"
               aria-labelledby="offcanvasNavbarLabel">

            <!-- Offcanvas Header -->
            <div class="offcanvas-header d-flex justify-content-between align-items-center">

              <!-- User Info Section -->
              <div *ngIf="authService.isAuthenticated" class="d-flex align-items-center">
                <a class="d-flex align-items-center me-2">
                  <img src="{{ environment.url + '/load/PhotoUser/' + this.authService.photo }}"
                       alt="{{ this.authService.username }}"
                       class="profile-image rounded-circle me-2">
                </a>
                <h5 class="mb-0">{{ this.authService.username }}</h5>
              </div>

              <button *ngIf="!authService.isAuthenticated" class="btn btn-outline-primary ms-3" routerLink="/register">
                S'inscrire
              </button>
              <button *ngIf="!authService.isAuthenticated" class="btn btn-outline-primary ms-3" routerLink="/login">
                Connecter
              </button>

              <!-- Close Button -->
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

            </div>

            <!-- Offcanvas Body -->
            <div class="offcanvas-body">

              <ul class="navbar-nav">
                <li>
                  <hr class="dropdown-divider">
                </li>
                <!-- Categories Dropdown -->
                <li>
                  <a class="dropdown-toggle dropdown-item" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                    Categories
                  </a>
                  <ul class="dropdown-menu">
                    <li><a *ngFor="let c of categories" class="dropdown-item"
                           [routerLink]="['/cours', c.nom]">{{ c.nom }}</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="navbar-nav" *ngIf="authService.isAuthenticated">
                <!-- User Info Links (Repeated for Offcanvas Body) -->
                <li><a class="dropdown-item" routerLink="/profile">Profil</a></li>
                <li><a class="dropdown-item" routerLink="/mescours">Mes Cours</a></li>
                <li><a class="dropdown-item" routerLink="/settings">Paramètres</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="logout()">Déconnexion</a></li>
              </ul>

            </div>

          </div>

        </div>

      </nav>
    </div>
  </div>
  <!-- Main Navbar -->

  <!-- Separator Line -->
  <hr class="my-0 border-secondary"/>
  <!-- navbar 3 -->
  <div class="container-fluid bg-light ">
    <div class="container">
      <nav class="navbar navbar-light navbar-expand">
        <div class="navbar-collapse bg-light">
          <div class="navbar-nav border-topw">
            <a [routerLink]="'/home'" [class.active]="activeLink === '/home'" class="nav-item nav-link">Accueil</a>
            <a [routerLink]="'/videos'" [class.active]="activeLink === '/videos'" class="nav-item nav-link">Videos</a>
            <a [routerLink]="'/articles'" [class.active]="activeLink === '/articles'"
               class="nav-item nav-link">Articles</a>
            <a *ngIf="authService.isAuthenticated" [routerLink]="'/mescours'"
               [class.active]="activeLink === '/mescours'" class="nav-item nav-link">Mes Cours</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- navbar 3 -->
</div>
