<div class="container-fluid py-5">
  <div class="container ">
    <div class="row g-4">
      <div class="col-lg-8 ">
        <div class="position-relative rounded overflow-hidden mb-4 ">
          <video src="{{environment.url+'/load/courVideo/'+currentCour.video }}"
                 class="custom-video-size img-fluid rounded"
                 controls alt="Video Description">
            Your browser does not support the video tag.
          </video>
        </div>


        <div class="d-flex justify-content-between">
          <a href="#" class="text-dark link-hover me-3"><i class="fa fa-clock"></i> 06 minute read</a>
          <a href="#" class="text-dark link-hover me-3"><i class="fa fa-eye"></i> 3.5k Views</a>
          <a href="#" class="text-dark link-hover me-3"><i class="fa fa-comment-dots"></i> 05 Comment</a>

        </div>
        <p class="my-4">
          {{ currentCour.description }}
        </p>

        <div class="tab-content">
          <div class="d-flex justify-content-between border-bottom mb-4">
            <ul class="nav nav-pills d-inline-flex text-center">
              <li class="nav-item mb-3">
                <h5 class="mt-2 me-3 mb-0">Tags:</h5>
              </li>

              <li class="nav-item mb-3" *ngFor="let tag of currentCour.tags">
                <a class="d-flex py-2 bg-light rounded-pill me-2" data-bs-toggle="pill" href="#tab-1">
                  <span class="text-dark" style="width: 100px;">{{ tag.name }}</span>
                </a>
              </li>
            </ul>

          </div>
          <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show active">
              <div class="row g-4 align-items-center">
                <div class="col-3">
                  <img src="../../assets/client-template/img/footer-4.jpg" class="img-fluid w-100 rounded" alt="">
                </div>
                <div class="col-9">
                  <h3>{{ currentCour.formateur.prenom }} {{ currentCour.formateur.nom }}</h3>
                  <p class="mb-0"> {{ currentCour.formateur.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="bg-light rounded my-4 p-4">
          <h4 class="mb-4">You Might Also Like</h4>
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="d-flex align-items-center p-3 bg-white rounded">
                <img src="../../assets/client-template/img/chatGPT.jpg" class="img-fluid rounded" alt="">
                <div class="ms-3">
                  <a href="#" class="h5 mb-2">Lorem Ipsum is simply dummy text of the printing</a>
                  <p class="text-dark mt-3 mb-0 me-3"><i class="fa fa-clock"></i> 06 minute read</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex align-items-center p-3 bg-white rounded">
                <img src="../../assets/client-template/img/chatGPT-1.jpg" class="img-fluid rounded" alt="">
                <div class="ms-3">
                  <a href="#" class="h5 mb-2">Lorem Ipsum is simply dummy text of the printing</a>
                  <p class="text-dark mt-3 mb-0 me-3"><i class="fa fa-clock"></i> 06 minute read</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-light rounded p-4">
          <h4 class="mb-4">Comments</h4>
          <div class="p-3 bg-white rounded mb-0" *ngFor=" let avis of avisList">
            <div class="row g-4">
              <div class="col-3">
                <img src="{{environment.url+'/load/PhotoUser/'+avis.user.photo}}"
                     class="profile-image rounded-circle me-2 align-center" alt="">
              </div>
              <div class="col-9">
                <div class="d-flex justify-content-between">
                  <h5>{{ avis.user.name }}</h5>
                  <a href="#" class="link-hover text-body fs-6"><i class="fas fa-long-arrow-alt-right me-1"></i>
                    Reply</a>
                </div>
                <small class="text-body d-block mb-3"><i
                  class="fas fa-calendar-alt me-1"></i> {{ avis.dateAvis }}</small>
                <p class="mb-0 comment-text">{{ avis.comment }}</p>
                <button class="btn btn-link btn-sm show-more">Voir plus</button>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-light rounded p-4 my-4">
          <h4 class="mb-4">Leave A Comment</h4>
          <form action="#" [formGroup]="avisForm" (ngSubmit)="handleAddAvis()">
            <div class="row g-4">
              <div class="col-12">
                <input type="text" class="form-control" formControlName="comment" placeholder="comment">
              </div>
              <div class="col-12">
                <button class="form-control btn btn-primary py-3" type="submit">Submit Now</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5 col-xl-4">
        <div class="sticky-top ">
          <div class="bg-light rounded p-4 ">
            <!-- conteneur gauche -->
            <div class="row g-4">
              <div class="col-12">
                <div class="position-relative banner-2">
                  <img src="{{environment.url+'/load/AfficheCour/'+currentCour.affiche}}"
                       class="img-fluid w-100 rounded"
                       alt="">
                  <div class="text-center banner-content-2">
                    <h6 class="mb-2">{{ currentCour.name }}</h6>
                    <p class="text-white mb-2">Gratuit</p>
                    <a (click)="inscrire()" class="btn btn-primary text-white px-4">Commencer le cours</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row g-4">
              <div class="col-lg-12">
                <div class="border-bottom my-3 pb-3">

                </div>
                <ul class="nav nav-pills d-inline-flex text-center mb-4">
                  <li class="nav-item mb-3" *ngFor="let tag of currentCour.tags">
                    <a class="d-flex py-2 bg-light rounded-pill me-2" href="#">
                      <span class="text-dark link-hover" style="width: 90px;">{{ tag.name }}</span>
                    </a>
                  </li>


                </ul>
              </div>

              <!-- Ajout d'informations supplémentaires -->
              <div class="col-lg-12">
                <div class="mb-3">
                  <h5>Prix</h5>
                  <p>{{ currentCour.prix }}</p>
                </div>
                <div class="mb-3">
                  <h5>Durée</h5>
                  <p>{{ currentCour.duree }} heures</p>
                </div>
                <div class="mb-3">
                  <h5>Categorie</h5>
                  <p>{{ currentCour.categorie.nom }}</p>
                </div>
              </div>
              <!-- Fin des informations supplémentaires -->
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>



