<div class="container-fluid">

  <div class="container py-4">
    <h2 class="mb-4">Voir cette article</h2>

    <div class="bg-light p-4 rounded">
      
      <div class="row g-4 align-items-center">
        <div class="col-md-6 ">
          <div class="rounded overflow-hidden">
            <img src="../../assets/client-template/img/news-2.jpg"
                 class="img-fluid rounded w-100" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-column">
            <!-- Metadata section: reading time and views -->
            <p class="mb-0 fs-5"><i class="fa fa-clock"> 06 minute read</i></p>
            <p class="mb-0 fs-5"><i class="fa fa-eye"> 3.5k Views</i></p>

            <!-- Main article content -->
            <p class="fs-5">
              {{ currentBlog.content }}
            </p>

          </div>
        </div>

      </div>
    </div>


  </div>
</div>
