<div class="container-fluid latest-news py-5">
  <div class="container">
    <div class="text-right mb-5">
      <a href="#" class="link-hover">Consulter Notre Chatbot pour vous aidez à trouver votre besoin</a>
    </div>
    <h2 class="mb-4">Nos Cours</h2>
    <div class="latest-news-carousel owl-carousel mb-5">
      <!-- Use *ngFor to loop through allCourses array -->
      <div class="latest-news-item img-zoomin hover-effect" *ngFor="let course of allCourses">
        <div class="bg-light rounded p-2 border border-opacity-80">
          <!-- Added padding and border to the div -->
          <div class="image-container">
            <!-- Bind the src attribute to course.videoLink dynamically -->
            <img class="img-fluid rounded-top" src="{{this.courService.url+'/getPhoto/'+course.affiche}}"
                 alt="{{ course.name }}">
          </div>
          <div class="d-flex flex-column p-3">
            <!-- Display course name dynamically -->
            <a href="#" class="h5">{{ course.name }}</a>
            <div class="d-flex justify-content-between">
              <!-- Display course description dynamically -->
              <a href="#" class="small text-body">by {{ course.description }}</a>
              <!-- Display course creation date dynamically -->
              <small class="text-body d-block">
                <i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <h2 class="mb-4">Blogs</h2>
      <ul class="d-inline-flex list-unstyled p-0">
        <li class="nav-item mb-3 me-3">
          <a href="#" class="btn btn-primary btn-lg">Blog 1 </a>
        </li>
      </ul>
    </div>
    <div class="py-5">
      <h2 class="mb-4">Nos Categories</h2>
      <ul class="d-inline-flex list-unstyled p-0">
        <li *ngFor="let categorie of allCategories" class="nav-item mb-3 me-3">
          <a href="#" class="btn btn-primary btn-lg">{{ categorie.nom }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Latest News End -->
