<!--  start Videos   -->
<div class="container-fluid features mb-5">
  <div class="container py-5">
    <div class="owl-carousel video-carousel">
      <!-- Use *ngFor to loop through the allVideos array -->
      <div class="item" *ngFor="let video of allVideos">
        <div class="overflow-hidden rounded">
          <video src="{{environment.url+'/load/video/'+video.videoUrl}}" class="video-element"
                 [routerLink]="['/watch', video.id]"></video>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  end Videos   -->
<!-- Blogs start -->
<div class="container-fluid mb-5">
  <div class="container py-4">
    <h2 class="mb-4">Voir les Articles</h2>
    <div class="owl-carousel blog-carousel">
      <!-- Use *ngFor to loop through the allBlogs array -->
      <div class="item" *ngFor="let blog of allBlogs">
        <div class="bg-light p-4 rounded">
          <div class="news-2">
            <h3 class="mb-4">Top Story</h3>
          </div>
          <div class="row g-4 align-items-center">
            <div class="col-md-6">
              <div class="rounded overflow-hidden">
                <img src="../../assets/client-template/img/news-2.jpg" class="img-fluid rounded img-zoomin w-100"
                     alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-column">
                <a href="#" class="h3">{{ blog.content }}</a>
                <p class="mb-0 fs-5"><i class="fa fa-clock"> 06 minute read</i></p>
                <p class="mb-0 fs-5"><i class="fa fa-eye"> 3.5k Views</i></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat the above block for each blog post -->
    </div>
  </div>
</div>
<!-- Blogs end -->


<div class="container-fluid latest-news py-5">
  <div class="container">
    <!-- Cour start  -->
    <h2 class="mb-4">Voir Nos Cours</h2>
    <div class="latest-news-carousel owl-carousel mb-5">
      <!-- Use *ngFor to loop through allCourses array -->
      <div class="latest-news-item img-zoomin hover-effect" *ngFor="let course of allCourses">
        <div class="bg-light rounded p-2 border border-opacity-80">
          <!-- Added padding and border to the div -->
          <div class="image-container">
            <!-- Bind the src attribute to course.videoLink dynamically -->
            <img class="img-fluid rounded-top" src="{{environment.url+'/load/AfficheCour/'+course.affiche}}"
                 alt="{{ course.name }}">
          </div>
          <div class="d-flex flex-column p-3">
            <!-- Display course name dynamically -->
            <a [routerLink]="['/cour-detail', course.id]"
               class="h5">{{ course.name }}</a>
            <div class="d-flex justify-content-between">
              <!-- Display course description dynamically -->
              <a href="#" class="small text-body">by {{ course.description }}</a>
              <!-- Display course creation date dynamically -->
              <small class="text-body d-block">
                <i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024
              </small>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cours End -->

    <!-- Categories start-->
    <div class="py-5">
      <h2 class="mb-4">Nos Categories</h2>
      <ul class="d-inline-flex list-unstyled p-0">
        <li *ngFor="let categorie of allCategories" class="nav-item mb-3 me-3">
          <a href="#" class="btn btn-primary btn-lg">{{ categorie.nom }}</a>
        </li>
      </ul>
    </div>
    <!-- Categories end-->
  </div>
</div>
<!-- Latest News End -->
