<div class="container-fluid latest-news py-5">
  <div class="container py-5">
    <h2 class="mb-4">Latest News</h2>
    <div class="latest-news-carousel owl-carousel ">
      <div class="latest-news-item img-zoomin" *ngFor="let c of allCourses">
        <div class="bg-light rounded">
          <video class="img-fluid rounded-top " src="../../assets/video.mp4" controls>
            Your browser does not support the video tag.
          </video>
          <div class="d-flex flex-column p-4">
            <a href="#" class="h4">{{ c.name }}</a>
            <div class="d-flex justify-content-between">
              <a href="#" class="small text-body link-hover">by Willum Skeem</a>
              <small class="text-body d-block"><i class="fas fa-calendar-alt me-1"></i> Dec 9, 2024</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Latest News End -->



